@import "../../nodebb-theme-persona/theme";
@import "./less/colours.less";

// @import (less) "./less/header-style.css";

@cindie2-path: "./fonts/cindie-2";
@space-grotesk-path: "./fonts/space-grotesk";
@font-face {
  font-family: "Cindie-2-G";
  src: url("@{cindie2-path}/Cindie2-G.ttf");
  src: url("@{cindie2-path}/Cindie2-G.eot?#iefix") format("embedded-opentype"),
    url("@{cindie2-path}/Cindie2-G.woff2") format("woff2"),
    url("@{cindie2-path}/Cindie2-G.woff") format("woff"),
    url("@{cindie2-path}/Cindie2-G.ttf") format("truetype");
}

@font-face {
  font-family: "Space-Grotesk";
  src: url("@{space-grotesk-path}/SpaceGrotesk-Regular.ttf");
  src: url("@{space-grotesk-path}/SpaceGrotesk-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("@{space-grotesk-path}/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("@{space-grotesk-path}/SpaceGrotesk-Regular.woff") format("woff"),
    url("@{space-grotesk-path}/SpaceGrotesk-Regular.ttf") format("truetype");
}

#header-menu .elementor-location-header .elementor-section {
	padding-top: .5rem;
}

// A conflict with persona's "fab" module
.elementor-location-footer .fab {
	background: transparent;
}

.breadcrumb {
  margin-bottom: 50px;
}

// === Generic css changes ===
body {
  font-family: "Space-Grotesk";
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Cindie-2-G";
  letter-spacing: 0.1em;
}

a {
  color: @dark-core;
}
a:hover {
  color: @pure-grey;
}
input[type="checkbox"] {
  accent-color: @arctic;
}

.btn-primary {
  color: @dark-core;
  background-color: @arctic;
  border-color: @dark-core;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
  color: @arctic;
  background-color: @dark-core;
  border-color: @pure-grey;
  outline: none;
}

.btn-default {
  color: @dark-core;
  background-color: @white;
  border-color: @dark-core;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  color: @dark-core;
  border-color: @dark-core;
  outline: none;
}

.btn-info {
  color: @dark-core;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  color: @dark-core;
  border-color: @dark-core;
  outline: none;
}

.btn-success {
  background-color: @skin;
  border-color: @dark-core;
  color: @dark-core;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: @lil-dar-skin;
  color: @dark-core;
  border-color: @dark-core;
  outline: none;
}

.form-control:focus {
  border-color: @arctic;
}

.navbar-default .navbar-nav > li > a:hover {
  color: @arctic;
}

.alert-warning {
  background-color: @skin;
  border-color: @skin;
}
.alert-danger {
  background-color: @lame-pink;
  border-color: @lame-pink;
}
.alert-info {
  background-color: @arctic;
  border-color: @arctic;
}
.alert-success {
  background-color: @peace-green;
  border-color: @peace-green;
}

// === Specific css changes ===
.slideout-panel {
  #header-menu {
    background-color: @white;
    .navbar-header {
      a:first-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        margin-right: 10px;
        > img.forum-logo {
          height: 35px;
        }
      }
    }
    .navbar-brand.forum-title {
      display: none;
    }
  }
}

.category > ul > li:not(.unread) h2 a {
  color: @dark-core;
}

.categories .category-1 .icon {
  border: 1px solid @dark-core;
  background-color: @skin !important;
  > i {
    color: @dark-core;
  }
}

.categories .category-2 .icon {
  background-color: @arctic !important;
  border: 1px solid @dark-core;
  > i {
    color: @dark-core;
  }
}

.categories .category-3 .icon {
  background-color: @mellow !important;
  border: 1px solid @dark-core;
  > i {
    color: @dark-core;
  }
}

.categories .category-4 .icon {
  background-color: @peace-green !important;
  border: 1px solid @dark-core;
  > i {
    color: @dark-core;
  }
}

#footer {
  background-color: @dark-core;
  padding: 10px;
  border-radius: 3px;
  .footer-inner {
    color: @white;
    img.footer-logo {
      width: 30px;
      margin-right: 10px;
      display: inline-block;
    }
    > a.icc-text-footer {
      color: @white;
    }
  }
}


#icc-header {
  .dropdown {
    #dropdownMenuLink {
      a:focus {
        outline: none;
      }
    }
  }
  .dropdown-menu {
    left: -75px;
    border-radius: 0.6rem;
    top: 40px;
    max-width: 160px;
    min-width: 112px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    > .dropdown-item, .dropdown .trigger-link-cont > a {
      // font-size: 1.475rem;
      font-size: 14px;
      font-family: 'Cindie-2-G';
      display: block;
      line-height: 1.25rem;
      padding: 1rem 1.5rem;
      text-align: right;
      letter-spacing: .1em;
      color: #252b35;
    }
    .dropdown .dropdown-menu {
      top: 0;
      left: -113px;
    }
    .dropdown-item:hover {
      --tw-bg-opacity: 1;
      background-color: rgb(243 244 246/var(--tw-bg-opacity))
    }
  }
  .dropdown-menu.profile-dropdown {
    width: 192px;
    max-width: 192px;
    left: -97px;
    top: 53px;
    > a.dropdown-item {
      text-align: left;
    }
    > form.dropdown-item {
      display: flex;
      > button.btn-link {
        padding: 0;
        font-size: 14px;
        text-transform: uppercase;
        height: 15px;
        color: #252b35;
      }

      > button.btn-link:hover {
        outline: none;
      }
    }
  }
  padding: 8px 15px;
  background-color: #101820;
  .inner-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
      padding: 12px;
      ul.navigation-ul {
        display: flex;
        align-items: center;
        gap: 4.5rem;
        list-style: none;
        margin: 0;
        padding-left: 4vw;
        @media screen and (max-width: 1200px) {
          gap: 4.2rem;
        }
        @media screen and (max-width: 1000px) {
          gap: 4rem;
        }
        @media screen and (max-width: 720px) {
          gap: 3rem;
        }
        @media screen and (max-width: 650px) {
          gap: 2rem;
        }
        li:nth-child(1) {
          img.logo-img {
            width: 4.5vw;
            min-width: 45px;
            max-width: 70px;
          }
        }
        li:nth-child(2) {
          position: relative;
          display: flex;
          height: 48px;
          justify-content: center;
          img { // king image
            position: absolute;
            height: 100%;
            top: -11px;
            min-width: 69px;
            width: 5vw;
            @media screen and (max-width: 1200px) {
              min-width: 62px;
              top: -8px;
            }
            @media screen and (max-width: 570px) {
              top: -3px;
            }
          }
          a {
            z-index: 1;
            letter-spacing: .1em;
            text-transform: uppercase;
            padding-top: 25px;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            margin-top: -12px;
            margin-left: 2px;
            @media screen and (max-width: 1200px) {
              margin-top: -8px;
            }
            @media screen and (max-width: 570px) {
              margin-top: -2px;
            }
            p {
              color: black;
              letter-spacing: .1em;
              font-family: Cindie-2-G;
              font-size: 2rem;
              white-space: nowrap;
              @media screen and (max-width: 1470px) {
                font-size: 1.9rem;
              }
              @media screen and (max-width: 1200px) {
                font-size: 1.6rem;
              }
            }
          }
        }
        li:nth-child(n+3) {
          @media screen and (max-width: 570px) {
            display: none;
          }
        }
        li:nth-child(n+3) .dropdown-menu {
          left: 0;
          top: 25px;
          max-width: 220px;
          width: 220px;
          .dropdown-item {
            text-align: left;
          }
        }
        li:nth-child(n+3) > .dropdown #dropdownMenuLink a {
          letter-spacing: .1em;
          text-transform: uppercase;
          color: #ffffff;
          font-family: Cindie-2-G;
          font-size: 2rem;
          line-height: 0.75rem;
          @media screen and (max-width: 650px) {
            gap: 1.5rem;
          }
        }
        li:nth-child(n+3) > a {
          letter-spacing: .1em;
          text-transform: uppercase;
          color: #ffffff;
          font-family: Cindie-2-G;
          font-size: 2rem;
          line-height: 0.75rem;
          @media screen and (max-width: 650px) {
            gap: 1.5rem;
          }
        }
      }
    }
    .auth-btn-cont {
      display: flex;
      gap: 1.5rem;
      margin-right: 5rem;
      // with login content style
      .profile-cont {
        .profile-label {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0.5rem;
          span#user-header-name {
            --tw-text-opacity: 1;
            color: rgb(244 244 244/var(--tw-text-opacity));
            font-family: Cindie-2-G;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 1.75rem;
            font-weight: 400;
          }
          span#user-header-name.visible-xs-inline {
            display: inline !important;
          }
          span.avatar {
            background-color: #673ab7;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      // without login content style
      > a {
        border-width: 2px;
        border-style: solid;
        --tw-border-opacity: 1;
        border-color: rgb(255 255 255/var(--tw-border-opacity));
        --tw-bg-opacity: 1;
        background-color: rgb(16 24 32/var(--tw-bg-opacity));
        padding: 11.5px 25px 6.5px 26px;
        text-align: center;
        font-family: Cindie\ 2 G;
        font-size: 1.25rem;
        line-height: 1.75rem;
        text-transform: uppercase;
        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity));
        display: flex;
        height: 50px;
        align-items: center;
        font-family: Cindie-2-G;
        > h4 {
          font-size: 20px;
        }
      }
      a.login-btn:hover {
        --tw-border-opacity: 1;
        border-color: rgb(164 233 245/var(--tw-border-opacity));
        --tw-bg-opacity: 1;
        background-color: rgb(164 233 245/var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: rgb(16 24 32/var(--tw-text-opacity))
      }
      a.sign-up-btn {
        --tw-border-opacity: 1;
        border-color: rgb(164 233 245/var(--tw-border-opacity));
        --tw-bg-opacity: 1;
        background-color: rgb(164 233 245/var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: rgb(16 24 32/var(--tw-text-opacity));
      }
      a.sign-up-btn:hover {
        --tw-border-opacity: 1;
        border-color: rgb(255 255 255/var(--tw-border-opacity));
        --tw-bg-opacity: 1;
        background-color: rgb(16 24 32/var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity));
      }
    }
    .mobile-nav-cont {
      display: none;
      @media screen and (max-width: 570px) {
        display: block;
      }
      .hamburger-cont {
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          img {
            width: 5vw;
            max-width: 30px;
            min-width: 25px;
          }
        }
      }
    }
  }
}
